<html>
{{ include('partials/main.html.twig') }}

<head>

    {{ include('partials/title-meta.html.twig', {title: 'Liste des abonnements'}) }}

    {{ include('partials/head-css.html.twig') }}

</head>

<body>
{{ include('partials/body.html.twig') }}

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('partials/menu.html.twig') }}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                {{ include('partials/page-title.html.twig', {pagetitle: 'Abonnements', title: 'Abonnements'}) }}

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <a href="{{ path('app_back_abonnement_add') }}"
                                               class="btn btn-success waves-effect waves-light"><i
                                                        class="mdi mdi-plus me-2"></i> Ajouter</a>
                                        </div>
                                        <div class="ml-3 mb-3">
                                            <a href="{{ path('app_back_abonnement_chart') }}"
                                               class="btn btn-info waves-effect waves-light"> Consulter les stats</a>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-inline float-md-end mb-3">
                                            <div class="search-box ms-2">
                                                <div class="position-relative">
                                                    <input type="text" id="search" class="form-control rounded bg-light border-0"
                                                           placeholder="Search...">
                                                    <i class="mdi mdi-magnify search-icon"></i>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                                <!-- end row -->
                                <div class="table-responsive mb-4">
                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th scope="col">Type</th>
                                            <th scope="col">Prix (€)</th>
                                            <th scope="col">Date debut</th>
                                            <th scope="col">Date fin</th>
                                            <th scope="col">Offre</th>
                                            <th scope="col">User</th>
                                            <th scope="col" style="width: 200px;">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody id="all">
                                        {% for abonnement in pagination %}
                                        <tr>
                                            <td>{{abonnement.type}}</td>
                                            <td>{{abonnement.prix ~ '€'}}</td>
                                            <td>{{abonnement.dateDebut|date}}</td>
                                            <td>{{abonnement.dateFin|date}}</td>
                                            <td>{{abonnement.idOffre.type}}</td>
                                            <td>{{abonnement.idUser.username}}</td>

                                            <td>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="{{ path('app_back_abonnement_update',{'id':abonnement.id}) }}" class="px-2 text-primary"><i
                                                                    class="uil uil-pen font-size-18"></i></a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="{{ path('app_back_abonnement_delete',{'id':abonnement.id}) }}" class="px-2 text-danger"><i
                                                                    class="uil uil-trash-alt font-size-18"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        {% endfor %}

                                        </tbody>
                                        <tbody id="searchtab"></tbody>
                                    </table>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-6">
                                        <div>
                                            <p class="mb-sm-0">{{ "Affichage de 1 à 10 de " ~ pagination.getTotalItemCount ~ " lignes" }}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="float-sm-end">
                                            <ul class="pagination mb-sm-0">
                                                {{ knp_pagination_render(pagination) }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        {{ include('partials/footer.html.twig') }}
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

{{ include('partials/right-sidebar.html.twig') }}

{{ include('partials/vendor-scripts.html.twig') }}

<script src="/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="/js/pages/lightbox.init.js"></script>
<!-- App js -->
<script src="/js/app.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search").keyup(function (e) {
            var value = $(this).val();
            $.ajax({
                url: "{{ path('app_back_abonnement_search') }}",
                type: 'GET',
                data: {
                    'query': value
                },
                success: function (retour) {
                    if (retour.length) {
                        console.log(JSON.stringify(retour))
                        $("#searchtab").empty();
                        $.each(JSON.parse(retour), function (i, obj) {
                            console.log(obj.roles);
                            var active;
                            var role;
                            $("#all").hide();
                            $("#searchtab").append('<tr><td> ' + obj.type + '  </td><td> ' + obj.prix + '  </td><td>    ' + moment(obj.dateDebut).format('MMMM Do YYYY, h:mm:ss') +'  </td><td>    ' + moment(obj.dateFin).format('MMMM Do YYYY, h:mm:ss') +'  </td><td> ' + obj.idOffre.type + '  </td><td> ' + obj.idUser.username + '  </td>  <td> <ul class="list-inline mb-0"> <li class="list-inline-item"> <a href="/back/abonnement/edit/'+obj.id+'" class="px-2 text-primary"><i class="uil uil-pen font-size-18"></i></a> </li> <li class="list-inline-item"> <a href="/back/abonnement/delete/'+obj.id+'" class="px-2 text-danger"><i class="uil uil-trash-alt font-size-18"></i></a> </li> </ul> </td></tr>');
                        });
                    } else {
                        $("#all").show();
                        $("#searchtab").empty();
                        $("#searchtab").fadeIn('fast');
                    }
                },
            });
            return false;
        });
    });
</script>

</body>
</html>
