{% extends 'basefront.html.twig' %}
{% import "front-breadcrumb.html.twig" as breadcrumb %}

{% block title %}MuseGo{% endblock %}

{% block body %}

    <div class="boxed-wrapper">
        <div class="preloader"></div>

        <!--Start main header Style4-->
        {% include 'front-header.html.twig' %}
        <!--Start breadcrumb area-->
        {{ breadcrumb.input('images/breadcrumb/breadcrumb-2.jpg', 'Avis', 'Avis') }}
        <!--End breadcrumb area-->
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ avi.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ avi.description }}</td>
            </tr>
            <tr>
                <th>AvisSur</th>
                <td>{{ avi.avisSur }}</td>
            </tr>
        </tbody>
        <tr>
                <th>REPONSES:</th>
                
            </tr>
            <br>
            <br>
        {% for reponse in reponses %}
    {% if reponse.avisId == avi.id %}
        <tr>

            <td>{{ reponse.description }}</td>

            <td>

            </td>
        </tr>
    {% endif %}
        {% endfor %}
    </table>

        <a href="{{ path('app_front_avis_app_avis_index') }}">back to list</a>

        <a href="{{ path('app_front_avis_app_avis_edit', {'id': avi.id}) }}">edit</a>

        {{ include('avis/_delete_form.html.twig') }}
        {% endblock %}
